<div class="message-container"></div>

<div class="content-container">

  <p>Over the past 40 years, many things have been spilled in Minnesota.  Here are some highlights.  Over the past 40 years, many things have been spilled in Minnesota.  Here are some highlights.  Over the past 40 years, many things have been spilled in Minnesota.  Here are some highlights.</p>

  <div class="single-stat section">
    <div class="main-number">9,567</div>
    Incidents over the past 40 years
  </div>

  <div class="section">
    <div class="section-heading">2006 saw the most incidents with 600.</div>

    <div class="section-visual">
    </div>

    <div class="section-footing">There is not much of an overall trend and its even hard to know a trend considering the fact that more and more materials are transported all the time.</div>
  </div>

</div>

<div class="footnote-container">
  <div class="footnote">
    <p>Some code, techniques, and data on <a href="https://github.com/zzolo/minnpost-hazmat" target="_blank">Github</a>.</p>
  </div>
</div>
