<div class="message-container"></div>

<div class="content-container">

  <div class="section">
    <div class="section-heading">How many incidents have occured?</div>

    <div class="section-visual">
      <div class="incidents-occured grid-container">
        <div class="timeframe grid-50 tablet-grid-50">
          <div class="main-number">{{ fNum(stats.total, 0) }}</div>
          <div>Since 2000</div>
        </div>

        <div class="timeframe grid-50 tablet-grid-50">
          <div class="main-number">{{ fNum(stats.totalForever, 0) }}</div>
          <div>Since 1971</div>
        </div>
      </div>
    </div>

    <div class="section-footing">That's an average of about 23 incidents each month.  Incidents include dramatic events like 28-car derailments, overturned trucks, 15,000 gallon crude oil spills and lithium batteries burning, as well as more mundane hazards, like leaky packaging.</div>
  </div>


  <div class="section">
    <div class="section-heading">When did the incidents happen?</div>

    <div class="section-visual">
      <div class="chart chart-incidents-by-year"></div>
    </div>

    <div class="section-footing">{{ stats.topYear }} saw the most incidents with {{ fNum(stats.topYearCount, 0) }}.  There is a slightly downward trend for this time period, but it is important to note that we don't have the data to compare this along side the total number of items shipped; this would better allows us to see the overall safety of shipments over time.  Data for 2013 only runs through September so it is not included in this graph.</div>
  </div>


  <div class="section">
    <div class="section-heading">How were the materials being transported?</div>

    <div class="section-visual">
      <div class="transporation-visual grid-container">
        {{#sources.byTransportation:i}}
          <div class="category grid-25 tablet-grid-25 {{ Mode_Transpo }}">
            <div class="category-icon">
              <img src="{{ imagePath }}{{ Mode_Transpo.toLowerCase() }}.png" />
            </div>
            <div class="subsection-title">{{ Mode_Transpo }}</div>
            <div>{{ fNum(count, 0) }} incident{{#(count != 1)}}s{{/()}}</div>
          </div>
        {{/sources.byTransportation}}
      </div>
    </div>

    <div class="section-footing">The greatest number of incidents involve materials shipped by highway. This doesn't mean highway shipping is inherently more dangerous than rail, water or air, though &mdash; this more likely reflect that the majority of hazardous materials are shipped by truck.</div>
  </div>


  <div class="section">
    <div class="section-heading">What kinds of hazardous materials are involved?</div>

    <div class="section-visual">
      <div class="chart chart-incidents-by-material"></div>
    </div>

    <div class="section-footing">The chart above shows the top 10 materials reported.  Hazardous materials can range from everyday substances, like paint and gasoline, to obscure industrial chemicals.  Paint or related materials including lacquer, stain, shellac and others makes up a large amount of the incidents.</div>
  </div>


  <div class="section">
    <div class="section-heading">What companies were involved in the shipments?</div>

    <div class="section-visual">
      <div class="top-who grid-container">
        <div class="grid-50 tablet-grid-50">
          <div class="subsection-title">Carriers</div>
          <ul>
            {{#sources.byCarrier:i}}
              <li>
                <div class="top-who-label">{{ grouped_C_R_Name }}</div>
                <div class="top-who-value">{{ fNum(count, 0) }}</div>
              </li>
            {{/sources.byCarrier}}
          </ul>
        </div>

        <div class="grid-50 tablet-grid-50">
          <div class="subsection-title">Shippers</div>
          <ul>
            {{#sources.byShipper:i}}
              <li>
                <div class="top-who-label">{{ grouped_Ship_Name }}</div>
                <div class="top-who-value">{{ fNum(count, 0) }}</div>
              </li>
            {{/sources.byShipper}}
          </ul>
        </div>
      </div>
    </div>

    <div class="section-footing">Carriers are the companies in charge of physically transporting a product, while the shippers are the companies that originate, or order, the shipment and often responsible for the packaging of the materials; sometimes these are the same companies.  Again, since we don't have numbers on how many hazardous materials the companies ship or orginiate in total, a higher number here does not indicate a more problematic company.</div>
  </div>


  <div class="section">
    <div class="section-heading">What were the biggest incidents?</div>

    <div class="section-visual">
      <div class="top-incidents grid-container">
        <div class="top-released">
          <div class="subsection-title">Most spilled</div>
          {{#sources.topReleased:i}}
            {{>incident}}
          {{/sources.topReleased}}
        </div>

        <div class="most-expensive">
          <div class="subsection-title">Most expensive</div>
          {{#sources.mostExpensive:i}}
            {{>incident}}
          {{/sources.mostExpensive}}
        </div>

        <div class="most-injurious">
          <div class="subsection-title">Most injuries</div>
          {{#sources.mostInjurious:i}}
            {{>incident}}
          {{/sources.mostInjurious}}
        </div>

        <div class="most-evacuated">
          <div class="subsection-title">Most evacuated</div>
          {{#sources.mostEvacuated:i}}
            {{>incident}}
          {{/sources.mostEvacuated}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footnote-container">
  <div class="footnote">
    <p>Hazardous materials data obtained from the U.S. Department of Transportation (updated, cleaned and prepared by the <a href="http://ire.org/nicar/database-library/databases/hazardous-materials/" target="_blank">NICAR Database Library</a> and distributed through a collaborative project of the <a href="http://investigativenewsnetwork.org/" target="_blank">Investigative News Network</a>).  Some code, techniques, and data on <a href="https://github.com/zzolo/minnpost-hazmat" target="_blank">Github</a>.  Airplane designed by <a href="http://thenounproject.com/marwaboukarim" target="_blank">Marwa Boukarim</a>, Truck designed by <a href="http://thenounproject.com/Simon%20Child" target="_blank">Simon Child</a>; all icons from the <a href="http://thenounproject.com" target="_blank">Noun Project</a>.</p>
  </div>
</div>

<!-- {{>incident}} -->
<div class="incident">
  <div class="short-description">
    In {{ Date_Inc.split('-')[0] }},

    {{#(grouped_C_R_Name == grouped_Ship_Name) }}
      {{ grouped_C_R_Name }} was making a shipment
    {{/()}}
    {{^(grouped_C_R_Name == grouped_Ship_Name) }}
      {{ grouped_C_R_Name }} was making a shipment for {{ grouped_Ship_Name }}
    {{/()}}

    traveling via {{ Mode_Transpo.toLowerCase() }} in {{ Inc_City }}, {{ Inc_St }}
    in route to {{ Dest_City }}, {{ Dest_State }}.

    An incident occured

    {{#(What_Failed_Desc != '' && What_Failed_Desc != null)}}
      involving the {{ What_Failed_Desc }}
    {{/()}}

    that released
    {{#(Quant_Released > 0)}}
      {{ fNum(Quant_Released , 0) }} {{ fUnit(Unit_of_Measure) }} of
    {{/()}}
    {{ (grouped_Commod_Long_Name.split(' ').length > 5) ? grouped_Commod_Long_Name.split(' ')[0] + ' ' + grouped_Commod_Long_Name.split(' ')[1] : grouped_Commod_Long_Name }}.

    <a href="#" on-tap="openReport">View report details</a>
  </div>

  <div class="stats grid-container">
    <div class="stat grid-25 tablet-grid-25 mobile-grid-50 Quant_Released">
      <div class="stat-visual">
        <img src="{{ imagePath }}materialreleased.png" />
      </div>
      <div class="stat-value">{{ fNum(Quant_Released, 0) }} {{ fUnit(Unit_of_Measure) }}</div>
      <div class="">Released</div>
    </div>

    <div class="stat grid-25 tablet-grid-25 mobile-grid-50 Tot_Amt_of_Damages">
      <div class="stat-visual">
        <img src="{{ imagePath }}costmoney.png" />
      </div>
      <div class="stat-value">${{ fNum(Tot_Amt_of_Damages, 2) }}</div>
      <div class="">Damages</div>
    </div>

    <div class="stat grid-25 tablet-grid-25 mobile-grid-50 Tot_Hazmat_Inj">
      <div class="stat-visual">
        <img src="{{ imagePath }}injury.png" />
      </div>
      <div class="stat-value">{{ fNum(Tot_Hazmat_Inj, 0) }}</div>
      <div class="">Injuries</div>
    </div>

    <div class="stat grid-25 tablet-grid-25 mobile-grid-50 Tot_Evac">
      <div class="stat-visual">
        <img src="{{ imagePath }}evacuate.png" />
      </div>
      <div class="stat-value">{{ fNum(Tot_Evac, 0) }}</div>
      <div class="">Evacuated</div>
    </div>
  </div>

  <div class="full-report">
    {{ Desc_of_Events }}
  </div>
</div>
<!-- {{/incident}} -->
