/**
 * Main styles for: minnpost-hazmat
 *
 * Make the default styles for a 960px wide screen.  A mobile
 * first approach is fine, but starting with a 960px wide
 * screen means that older browsers that do not support
 * media queries will be fine as they are all desktop browsers.
 */


body .node-unpublished {
  background-repeat: no-repeat;
}

.interactive-container  {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 1em;
}

.minnpost-hazmat-application-container {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 1em;
  font-family: $sans-serif-font;

  .clear {
    clear: both;
  }
  .hidden {
    display: none;
  }

  /* Clearfix from http://nicolasgallagher.com/micro-clearfix-hack/ */
  .cf:before,
  .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  .cf:after {
    clear: both;
  }
  .cf {
    *zoom: 1;
  }

  .footnote {
    font-size: .75em;
    font-style: italic;
    color: #414141;
    margin-top: 3em;
    border-top: 1px solid #BCBCBC;
    padding-top: 1em;
  }

  .loading {
    width: 100%;
    text-align: center;
    padding: 2em 2em;
    color: #ABABAB;
    vertical-align: middle;
    height: 100%;
    line-height: 100%;

    span {
      padding: 10px 5px 10px 40px;
      background: transparent $loader-image center left no-repeat;
      vertical-align: middle;
      height: 100%;
      line-height: 100%;
    }
  }

  .content-container p {
    text-align: justify;
  }

  .section {
    margin-bottom: 12em;

    .section-heading {
      font-size: 2em;
      line-height: 1.25em;
      text-align: center;
      margin-bottom: .5em;
    }

    .section-visual {
      min-height: 10em;
      margin-bottom: 1em
    }
  }

  .subsection-title {
    font-size: 1.5em;
    line-height: 1.25em;
  }

  .incidents-occured {

    .timeframe {
      text-align: center;
      font-size: 1.5em;
      line-height: 1.25em;

      .main-number {
        font-size: 3em;
        line-height: 1.25em;
      }
    }
  }

  .transporation-visual {

    .category {
      text-align: center;

      .category-icon {
        height: 8em;
        width: 100%;
      }
    }
  }

  .top-who {

    ul, li {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .top-who-label {
      @include inline-block();
      width: 75%;
    }

    .top-who-value {
      @include inline-block();
      font-weight: bold;
    }
  }

  .top-incidents {

    .incident {
      margin-bottom: 2em;

      .stats {
        text-align: center;

        .stat-visual {
          min-height: 3em;
        }
      }

      .full-report {
        margin-top: 1em;
        color: $color-medium-gray;
      }
    }

    .full-report {
      display: none;
    }
  }

  // Breakpoints
  @media screen and (max-width: 768px) {
  }
}
